:root {
    --primary-dark: #2f2f2f;
    --primary-light: #d3d1d1;
    --base-space: .5rem;
    scrollbar-width: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: light-dark(var(--primary-dark), var(--primary-light));
    background-color: light-dark(color-mix(in oklch, var(--primary-light) 10%, white), var(--primary-dark));
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin-block: 0;
    margin-inline: 0;
}

section {
    display: flex;
    min-height: 100vh;
}

.banner {
    background-image: url("./../img/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(1.5) sepia(1.4);
    justify-content: center;

    .title {
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          letter-spacing: 0.4em;
           font-size: 2rem;
            display: flex;
             justify-content: center;
              padding: 2rem;
               border-radius: 24px;
                margin-block-start: 2rem;
                 align-items: center;
                  max-height: min-content;
                   align-self: start;
                    color: var(--primary-dark); 
                    backdrop-filter: blur(10px) opacity(0.7) saturate(.5) sepia(.2);
                     box-shadow: 5px 5px 20px 10px rgba(34, 34, 34, 0.8); 
                     background-image: linear-gradient(var(--primary-dark), transparent 20%, var(--primary-light), transparent 80%);
                     }
}


